  body{
    font-family: 'Baloo Tamma', cursive;
    background: #80ced6;
    background-image: url(imagens/wand.png);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center center;
  }
  
  .texto{
      font-family: cursive;
      font-size: 150%;
      color: lightcoral;
  }
  .italico{
    font-style: italic;
  }
  
  .negrito{
      font-weight: 900;
  }

  .underline{
      text-decoration: underline;
  }

  .conteudo{
    background-color: aliceblue;
    border: 1px solid rosybrown;
    /*padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;*/

    position:absolute;
    left: 50px;
    top: 200px;

  }
  
  .unicornio {
    width: 150px;
    position: absolute;
    left: 20px;
    top: -5px;

  }

  .mews{
    color: white;
    letter-spacing: 5px;
    position:absolute;
    top: 10px;
    left: 220px;
    font-family: cursive;
    font-size: 400%;
    color: lightcoral;

    text-shadow: -1px -1px 0px #97e1eb,
      3px 3px 0px #85cdd6,
      6px 6px 0px #86d1db;
  }

  .lista{

    font-family: cursive;
    color: bisque;
    font-size: 30px;
    float: right;
    width: 200px;
    height: 30px;
    margin: 10px;
    margin-top: 80px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .clear {
    clear: right;
  }

  .projetos{
    background: #e5e5e5;
    padding: 10px;
    width: 20%;
    margin: 20px;
    margin-left: 5%;
    float: left;
    clear: right;

  }