  body{
    font-family: 'Baloo Tamma', cursive;
    background: #80ced6;
    /*background-image: url(imagens/wand.png);*/
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center center;
  }
  

  .texto{
      font-family: cursive;
      font-size: 150%;
      color: lightcoral;
  }
  .italico{
    font-style: italic;
  }
  
  .negrito{
      font-weight: 900;
  }

  .underline{
      text-decoration: underline;
  }

  .conteudo{
    background-color: aliceblue;
    border: 1px solid rosybrown;
    /*padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;*/

    position:absolute;
    left: 50px;
    top: 200px;

  }
  
  .unicornio {
    width: 150px;
    position: absolute;
    left: 20px;
    top: -5px;

  }

  .mews{
    color: white;
    letter-spacing: 5px;
    position:absolute;
    top: 10px;
    left: 220px;
    font-family: cursive;
    font-size: 400%;
    color: lightcoral;

    text-shadow: -1px -1px 0px #97e1eb,
      3px 3px 0px #85cdd6,
      6px 6px 0px #86d1db;
  }

  .lista {

    font-family: cursive;
    color: bisque;
    font-size: 30px;
    float: right;
    width: 200px;
    height: 30px;
    margin: 10px;
    margin-top: 80px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  .clear {
    clear: right;
  }

  .sobre {
    clear: right;
    clear: both;
    background: #e5e5e5;

    position: relative;
    top: 150px;
    left: 5%;
    
    padding: 10px;
    width: 90%;
    margin-bottom: 300px;
    float: left;
  
  }

  .projetos {
 

    position: relative;
    top: 150px;


    padding: 10px;
    width: 90%;
    margin-right : 20px;
    margin-left: 5%;
    margin-bottom: 350px;
    float: left;
    clear: right;

  }

  .objetivos{
    background: #e5e5e5;

    position: relative;
    top: 150px;


    padding: 10px;
    width: 90%;
    margin-right : 20px;
    margin-left: 5%;
    margin-bottom: 350px;
    float: left;
    clear: left;

  }

  .final{

   text-align: center;
   font-family: cursive;
    font-size: 140%;
    color: lightcoral;

    text-shadow: -1px -1px 0px #2fdff7,
      3px 3px 0px #08cde7,
      6px 6px 0px #4bd5e7;
  }

  links
  a {
    text-decoration: none;
  }
  a:link { /* nao visitado */
    color: rgb(246, 248, 138);
    background-color: transparent;
    text-decoration: none; 
    font-family: cursive;
  }
  a:visited { /* ja foi visitado */
    color: rgb(247, 125, 125);
    background-color: transparent;
    text-decoration: none;
    font-family: cursive;
  }
  a:hover { /*mouse em cima */
    color: pink;
    background-color: transparent;
    text-decoration: none;
    font-family: cursive;
  }
  a:active { /* clickado */
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    font-family: cursive;
  }